.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:disabled {
    background-color: rgba(255, 255, 255, 0.1);
}

button {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.logo-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}